env
venv
.python-version
.venv
.virtualenv
.idea
.git
db.sqlite3
__pycache__
*.pytest_cache
postgres-data
*.env
static
media
*.*.pyc
.vscode
*.ipynb
google-credentials*.json
*.txt
!requirements.txt
*.zip
.env*